@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'VT323', monospace;
    background-color: #282540;
    color: white;
}
header{
    background: linear-gradient(to bottom, rgba(109, 106, 137, 0) 22.57%, #282540 64.14%), url(./imagens/headerBackgroundOp.png);
    mix-blend-mode: normal;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat:no-repeat;

    
}
.nomeSite{
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    
   
    
   
}
li {
    list-style-type: none;
    display: inline-block;
  }
a { 
    color: currentColor;
    text-decoration:none;
 } 