@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'VT323', monospace;
    background-color: #282540;
    color: white;
}
header{
    background: linear-gradient(to bottom, rgba(109, 106, 137, 0) 22.57%, #282540 64.14%), url(./imagens/headerBackgroundOp.png);
    mix-blend-mode: normal;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat:no-repeat;
}
.nomeSite{
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
}
li {
    list-style-type: none;
    display: inline-block;
  }
a { 
    color: currentColor;
    text-decoration:none;
 }
 .main-filtro{
     width: 533px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .main-fButton{
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D8C7C7;

    background: #2B2F4A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

 }
 .jogo01{
     width: 50%;
     height: 140px;
     background-color: #232038;
     display: flex;
     flex-direction: row;
 }
 .nomeJogo, .dadosJogo{
     display: flex;
     flex-direction: column;
 }
 .maisJogos{
    width: 50%;
    height: 40px;
    background-color: #232038;
 }